.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.break {
    background-color: lightgray;
    color: grey;
    font-weight: bold;
    vertical-align: middle;
}

table tbody tr {
    height: 50px;
}

.table > tbody > tr > td {
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

.btn-filter-period {
    margin-bottom: 10px;
}


.row_mov_part {
    height: 30px;
    padding: 5px;
}
.row_mov_part.my_part {
    background-color: rgba(211, 211, 211, 0.42);
}
.row_mov_part.row_mov_part_total {
    border-top: 1px dashed lightgray;
    font-weight: bold;
}

#movement_detail #errorMessage {
    color: red;
    display: none;
}

#movement_detail #successMessage {
    color: green;
    display: none;
}

#movement_list .row-mov .buttons {
    text-align: right;
    height: 40px;
    margin-top: 5px;
    padding-top: 2px;
}

@media (max-width: 768px) {
    #movement_list .row-mov .buttons {
        float: right;
    }
    #movement_list #tableMovs {
        margin-right: 15px;
    }
    #search_content #search_custom_filters #dateIni {
        width: 49%;
    }
    #search_content #search_custom_filters #dateEnd {
        width: 49%;
    }
    #search_content #search_custom_filters #search {
        width: 100%;
    }
}
#search_perdiod_btns {
    margin-top: 10px;
}
